

@color-orange: #FF4C00;
@color-grey: #3B393F;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   // box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
body{
    font: 15px/1.4 'PT Sans', sans-serif;
}

html,body{
    overflow-x: hidden;
}
.wrapper{
    width: 1110px;
    margin: 0 auto;
}
.link{
    text-decoration: none;
    &:hover{
        color: @color-orange;
    }
}
.p{
    line-height: 1.4em;
    margin-bottom: 0.65em;
}
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 30px;
    background: @color-orange;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    &--large{
        font-size: 24px;
        padding: 24px 45px;
    }
    &--white{
        background: white;
        color: @color-orange;
    }
}
.section-title{
    font-size: 46px;
    text-align: center;
    color: @color-grey;
    font-weight: bold;
}
.color-orange{
    color: @color-orange;
}
.header{
    &__wrapper{
        width: 1540px;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    &__logo{
        &__image{
            width: 230px;
        }
    }
    &__nav{
        display: flex;
    }
    &__menu{
        display: flex;
        &__item{
            padding: 0 30px;
            text-transform: uppercase;
            text-decoration: none;
            color: @color-grey;
            font-weight: bold;
            font-size: 15px;
            &:hover{
                color: @color-orange;
            }
        }
    }
    &__account{
        display: flex;
        margin-left: 45px;
        &__item{
            display: flex;
            color: rgb(59, 57, 63);
            &:not(:last-child):after{
                display: block;
                padding: 0 10px;
                content: '|';
            }
        }
    }
}
.main-page{
    &__preview{
        background: url('/dist/img/main-bg.jpg') no-repeat;
        background-position: center;
        margin-bottom: 130px;
        &__container{
            display: flex;
            justify-content: flex-end;
            min-height: 890px;
        }
        &__content{
            padding: 100px 0;
            width: 490px;
            color: white;
        }
        &__title{
            font-size: 52px;
            margin-bottom: 30px;
            line-height: 1em;
        }
        &__description{
            font-size: 22px;
            line-height: 1.4em;
            margin-bottom: 35px;
        }
    }
    &__about{
        margin-bottom: 110px;
        &__title{
            margin-bottom: 90px;
        }
        &__columns{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 70px;
        }
        &__column{

        }
        &__card{
            &__title{
                display: flex;
                align-items: center;
                &__icon{
                    margin-right: 20px;
                    & img{
                        width: 24px;
                    }
                }
                &__text{
                    font-size: 26px;
                    color: @color-orange;
                    font-weight: bold;
                }
            }
            &__content{
                padding: 20px 0;
                color: @color-grey;
            }
        }
    }
    &__steps{
        background: #EFEEE9;
        margin-bottom: 100px;
        &__container{
            padding: 100px 0;
        }
        &__title{
            margin-bottom: 110px;
        }
        &__grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 50px;
        }
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__icon{
                margin-bottom: 30px;
            }
            &__content{
                font-size: 22px;
                text-align: center;
            }
        }
    }
    &__our-friends{
        margin-bottom: 100px;
        &__slider{
            &__container{
                width: max-content;
                overflow: hidden;
            }
            &__content{
                display: grid;
                grid-template-columns: repeat(6, 330px);
                grid-gap: 75px;
            }
            &__item{
                &__image{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 330px;
                    height: 170px;
                    margin-bottom: 25px;
                }
                &__text{
                    color: @color-grey;
                }
            }
        }
    }
    &__you-resolve{
        background: #EFEEE9;
        &__container{
            padding: 100px 0;
        }
        &__title{
            color: @color-orange;
            margin-bottom: 20px;
        }
        &__description{
            display: flex;
            justify-content: center;
            color: @color-grey;
            font-size: 22px;
            margin-bottom: 45px;
        }
        &__action{
            display: flex;
            justify-content: center;
        }
    }
}
.footer{

}